<div>
  <h3>合計滞在時間：30.0h</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">入室時刻</th>
        <th scope="col">退出時刻</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>2023/11/19 08:00:00</td>
        <td>2023/11/19 21:00:00</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>2023/11/20 10:00:00</td>
        <td>2023/11/20 16:00:00</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>2023/11/21 11:00:00</td>
        <td>2023/11/21 22:00:00</td>
      </tr>
    </tbody>
  </table>
</div>
